<app-toggle>
    <h1 app-toggle-header>Todo Today</h1>
    <h2 app-toggle-header>Second Title</h2>
    <button [style.color]="'green'" appToggleButton>Hide/Show</button>
    <h1>Third</h1>
    <app-title></app-title>
    <ul>
        <li>Wash the dishes</li>
        <li>Go Shopping</li>
    </ul>
</app-toggle>

<hr appToggleButton>

<app-toggle>
    <h2>Hello World</h2>
    <pre>
        How
        Are You?
    </pre>

</app-toggle>

<hr>

<!-- <app-title #bla></app-title>
{{bla.identifier}}



<h1>Hello Element Directives</h1>
<h2>Creating Directive</h2>
<h2 #myHeader="highlight"  [appHighlight]="myFavoriteColor" >Demo: Highlight Directive</h2>

The highlight is: {{myHeader.isOn}}

<h2 appNoSpace>Working with the ElementRef</h2>
<h2>Working with Renderer2</h2>
<h2 appHighlight="cyan" (triggered)="whenDirectiveIsOn()">Using HostBinding and HostListener</h2>
<h2 appNoSpace>Creating Inputs and Outputs</h2>
<h2>Using Input aliases and Shortcuts</h2>
<h2>Using variable reference to the directive</h2>
<h2 [appHighlight]="myHatedColor">About selectors</h2>
<h2>Input masking directive</h2>

<input type="text" appNoSpace>
<input type="number" appNoSpace>
<input type="color" appNoSpace> -->