<app-title-presenter 
        [title]="caption" 
        [bg]="favoriteColor"
></app-title-presenter>
<div class="colors-area">
  <app-string-selector
    [options]="colors"
    [selectedOption]="selectedColor"
    (selection)="selectColor($event)"
  >
  <span *appSelectorTemplate="let value" [style.color]="value">{{value}}</span>
</app-string-selector>
</div>
<div class="sizes-area">
  <app-string-selector
    [options]="sizes"
    [selectedOption]="selectedSize"
    (selection)="selectSize($event)"
  >
  <span *appSelectorTemplate="let value" [style.font-size]="value">{{value}}</span>
</app-string-selector>
</div>
<div class="fonts-area">
  <app-string-selector
    [options]="fonts"
    [selectedOption]="selectedFont"
    (selection)="selectFont($event)"
  >
  <span *appSelectorTemplate="let value" [style.font-family]="value">{{value}}</span>

</app-string-selector>
</div>
<div class="text-area">
  <textarea
    [style.color]="selectedColor"
    [style.font-size]="selectedSize"
    [style.font-family]="selectedFont"
  ></textarea>
</div>
